.text {
  margin: 0px;
  text-decoration: none;
  color: white;
  padding: 0px 10px ;
}
p:hover {
  background-color: #DEDBD2;
  color: black;
}
/* .textIn {
  text-decoration: none;
  color: white;
  padding: 0px 5px;
  position: fixed;
  right: 30px;
  top: 10px;
} */
