.containerStore {
	padding-top: 3.5rem;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 650px;
	margin: 0px 25px;
}
.cart {
	background-color: cyan;
	width: 25%;
	padding: 15px;
}
.tripCard {
	background-color: purple;
	width: 70%;
	padding: 15px;
}
.cart h1 {
	text-align: center;
}
