.containerStore {
	background-color: #b0c4b1;
	margin-top: 6.25rem;
	display: flex;
	flex-direction: row;
}
.cart {
	background-color: #dedbd2;
	width: 25%;
	padding: 15px;
	border-radius: 16px;
	margin-top: 67px;
	margin-bottom: 15px;
	margin-right: 30px;
}
.tripCard {
	background-color: #b0c4b1;
	width: 75%;
	padding: 15px;
	margin-left: 15px;
}
.cart h1 {
	padding: -20px;
	text-align: center;
	font-size: 1.3rem;
	font-weight: bold;
	border-bottom: 1px solid grey;
}
