.containerStore {
	margin-top: 3.125rem;
	/* display: flex;
	flex-direction: row; */
	width: 100%;
	height: 40rem;

	/* margin: 0px 25px; */
}
.cart {
	background-color: #b0c4b1;
	width: 25%;
	padding: 20px;
}
.tripCard {
	background-color: #4a5759;
	width: 80%;
	padding: 20px;
}
.cart h1 {
	text-align: center;
}
