.divPaidac {
  display: "flex";
  margin-top: 5rem;
}

.divKid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aqua;
  margin: 20px;
  margin-top: 5rem;

  padding: 10px, 10px, 10px, 10px;
  justify-content: space-between;
  align-content: space-between;
  background-color: white;
}

.divAntCar {
  margin-top: 5rem;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}
