.navComp {
  /* position: fixed; */
  background-color: black;
  color: white;

  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.text {
  text-decoration: none;
  color: white;
}
.navRight {
  gap: 10px;
  display: flex;
}
.navLeft {
  gap: 10px;
  display: flex;
}
/* .modalDiv {
  display: flex;
  align-items: flex-end;
} */
.loginP {
  margin: 0px;
}
.loginModal {
  position: relative;
  right: 250px;
}
