.text {
  margin: 0px;
  text-decoration: none;
  color: white;
  padding: 0px 10px;
}
p:hover {
  background-color: white;
  color: black;
}
.textSignUp {
  position: fixed;
  left: 260px;
  padding: 0px 5px;
  top:10px;
}
