/* #dedbd2 cor3 */

.categoriesDiv {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-end;
	padding-top: 3px;
	width: 34rem;
}
.categoriesDiv p {
	font-size: 1.15rem;
	--s: 0.1em; /* the thickness of the line */
	--c: #4a5759; /* the color */

	color: #0000;
	padding-bottom: var(--s);
	background: linear-gradient(90deg, var(--c) 50%, #000 0)
			calc(100% - var(--_p, 0%)) / 200% 100%,
		linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.5s;
}
.categoriesDiv p:hover {
	--_p: 100%;
	--_s: 0.3s;
}
.cardsDiv {
	border-radius: 20px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #dedbd2;
	justify-content: space-evenly;
	height: 36rem;
	overflow-y: scroll;
}
.card {
	width: 14.5rem;
	height: 20rem;
	margin: 0.6rem;
	border-radius: 1rem;
	background: #dedbd2;
	box-shadow: 6px 6px 12px #9e9b95, -6px -6px 12px #9e9b95;
}
/* .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	transform: scale(1.1, 1.1);
} */
.cardImg {
	width: 100%;
	height: 14rem;
	border-radius: 15px 15px 0px 0px;
}
.infoCards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: 0.5rem;
	margin-left: 16px;
	margin-bottom: 8px;
	width: 200px;
}
.infoCards p {
	font-weight: 700;
	margin: 0px 9px;
	font-size: 1.4rem;
}
.cardGroupBtn {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	padding-left: 50px;
}
.cardGroupBtn p {
	margin-left: 5px;
}
