.communityContainer {
  height: 75rem;
}
.Img2 {
  background-color: blue;
  margin: 0rem;
  position: relative;
  bottom: -6.25rem;
  left: 12.5rem;
  width: 43.75rem;
  height: 31.25rem;
}
.Img3 {
  background-color: blueviolet;
  margin: 0rem;
  position: relative;
  bottom: 12.5rem;
  left: 68.75rem;
  width: 40.6rem;
  height: 50rem;
}
