.userDivs {
    margin-top: 3.1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 150px;
  }
  
  .userCard {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 50px;
    width: 1800px;
  }
  
  .userOrders {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
    border-radius: 50px;
  }
  
  .picCard {
    display: flex;
  }
  
  .picImg {
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 200px;
  }
  
  .userCardText {
    font-size: 25px;
  }
  
  
  