.userDivs {
  margin-top: 3.1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 150px;
}

.userCard {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 50px;
  width: 1000px;
}

.userOrders {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  border-radius: 50px;
}
