.contactContainer {
  background-color: #4a5759;
  height: 15rem;
  color: white;
}
.contactH1 {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: white; */
  width: 50%;
}
.contact {
  justify-content: center;
  display: flex;
  flex: row;
  /* background-color: aqua; */
  margin-top: -40px;
  width: 50%;
}
.cardsContainer {
  margin-top: 5.62rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: white; */
}
.card {
  /* background-color: white; */
  /* height: 10.62rem; */
  /* width: 16.875rem; */
  /* border-radius: 3.125rem; */
  /* padding: 1.25rem 1.875rem 1.875rem 1.875rem; */
  text-align: center;
  /* background-color: blueviolet; */
}
/* .cardContent {
  height: 6.25rem;
  width: 13.124rem;
  font-family: "Roboto", sans-serif;
  background-color: yellowgreen;
} */
.cardContent h2 {
  /* background-color: blue; */
  font-size: 1.5rem;
  /* text-align: center; */
  width: 15rem;
  margin-top: -3.75rem;
  /* margin-left: -3rem; */
  font-family: "Roboto", sans-serif;
  /* background-color: yellow; */
}
.cardContent p {
  text-align: center;
  margin-top: -1.1875rem;
  margin-bottom: -0.625rem;
  height: 9.375rem;
  width: 12.5rem;
  /* font-family: "Roboto", sans-serif; */
}
.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* justify-content:; */
  /* width: 6.875rem; */
  /* margin-left: 3.5rem; */
  margin-top: -0.9375rem;
  /* background-color:violet; */
}
.cardImg {
  position: relative;
  bottom: 4.37rem;
  /* left: 2rem; */
  width: 4.5rem;
  height: 4rem;
  background-color: black;
  border-radius: 50%;
  /* margin: 0rem; */
}
